@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --cor: rgb(18, 96, 122);
    --cor1: #5CE1E6;
}
*{
    padding: 0;
    margin: 0;
}

body{
    height: 100hv;
    width: 100hv;
    font-family: "Poppins", sans-serif;
}

/*CABECALHO*/
.cabecalho{
    background: var(--cor);
    height: 2rem;
    width: 100hv;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.cabecalho:hover{
    box-shadow: 1px 1px 7px var(--cor1);
}

.lista_redes .redes_sociais{
    display: flex;
    list-style: none;
    gap: 0.5rem;
    padding-top: 0.3rem;
}

.redes_sociais .logo_redes img{
    height: 1.8rem;
    width: 1.8rem;
    cursor: pointer;
    border-radius: 1rem;
}

.redes_sociais .logo_redes img:hover{
    box-shadow: 1px 1px 7px var(--cor1);
}

.logo_lanchetem{
    margin-left: 3.5rem;
    height: 3.3rem;
    width: 5rem;
    border: none;
    border-radius: 60%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo_lanchetem:hover{
    box-shadow: 1px 1px 7px var(--cor1);
}

.logo_lanchetem .img_logo{
    height: 4rem;
    width: 4rem;
    margin-top: 0.2rem;
    
}

.navegacao .lista_nav{
    color: white;
    display: flex;
    list-style: none;
    gap: 0.8rem;
    font-size: 1rem;
    padding-right: 1rem;
    font-weight: 500;
}

.lista_nav .lista_style{
    cursor: pointer;
}


/*CORPO*/

.corpo{
    padding: 1.5rem;
    gap: 2rem;
    display: flex;
    align-items: center;
}

.empresa img{
    height: 24rem;
    width: 27rem;
    border: none;
    border-radius: 10%;
    box-shadow: 1px 1px 6px rgb(207, 207, 209);
}

.org .texto{
    margin-bottom: 2rem;
    font-size: 2rem;
    text-align: center;
    background-color: var(--cor1);
    color: white;
    border: none;
    border-top-right-radius: 0.4rem;
    border-top-left-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
    font-weight: 600;
    padding: 0.3rem;
}

.texto1:hover{
    box-shadow: 1px 1px 6px var(--cor);
}

.texto:hover{
    box-shadow: 1px 1px 6px var(--cor1);
}

.org .texto1{
    font-size: 1rem;
    color: white;
    font-weight: 600;
    text-align: center;
    background-color: var(--cor);
    padding: 0.3rem;
    border-radius: 0.3rem;
}

/* Menu*/
.cardapio{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--cor1);
    margin: 2rem;
    border-radius: 1rem;
    padding: 2rem;
}
.cardapio .comida{
    height: 18rem;
    width: 21rem;
    border-radius: 2rem;
}

.txt-menu{
    width: 100hv;
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto-menu{
    background: var(--cor1);
    width: 14rem;
    align-items: center;
    display: flex;
    justify-content: center;
    border: none;
    border-radius: 1rem;
}

.menu-texto{
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--cor);
}

.menu-itens{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    margin: 1rem;
    gap: 1rem;
}

.menu-itens .valor{
    display: none;
}

.menu-itens:hover{
    position: relative;
    left: 0.2rem;
    bottom: 0.2rem;
}

.menu-itens:hover .valor{
    display: flex;
}

.menu-itens:hover .val{
    display: none;
}



